compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TIMEOUT) \
	combo_##NAME { \
		bindings = <BINDINGS>; \
		key-positions = <KEYPOS>; \
		layers = <LAYERS>; \
		timeout-ms = <TIMEOUT>; \
		require-prior-idle-ms = <DEFAULT_REQUIRE_IDLE>; \
	};

#define DEFAULT_TIMEOUT 50
#define DEFAULT_LEFT_TIMEOUT 15
#define DEFAULT_REQUIRE_IDLE 150

#ifdef COMBO_KEYS_ESC
COMBO(esc, &kp ESC, COMBO_KEYS_ESC, BASE_L, DEFAULT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_CAPS
COMBO(caps, &caps_word, COMBO_KEYS_CAPS, BASE_L, DEFAULT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_APPS
COMBO(apps, &kp LGUI, COMBO_KEYS_APPS, BASE_L, DEFAULT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_TAB
COMBO(tab, &kp TAB, COMBO_KEYS_TAB, BASE_L, DEFAULT_LEFT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_VIM_SAVE
COMBO(vim_save, &vim_save, COMBO_KEYS_VIM_SAVE, BASE_L, DEFAULT_TIMEOUT) // : + w -> ESC + :w
#endif

#ifdef COMBO_KEYS_VIM_SAVE_QUIT
COMBO(vim_save_quit, &vim_save_quit, COMBO_KEYS_VIM_SAVE_QUIT, BASE_L, DEFAULT_TIMEOUT) // Like : + q -> ESC + :wq
#endif

#ifdef COMBO_KEYS_SYM_QUOTE
COMBO(sym_quote, &kp SINGLE_QUOTE, COMBO_KEYS_SYM_QUOTE, BASE_L, DEFAULT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_SYM_DQUOTE
COMBO(sym_dquote, &kp DOUBLE_QUOTES, COMBO_KEYS_SYM_DQUOTE, BASE_L, DEFAULT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_SYM_CARET
COMBO(sym_caret, &kp CARET, COMBO_KEYS_SYM_CARET, BASE_L, DEFAULT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_SYM_DOLLAR
COMBO(sym_dollar, &kp DOLLAR, COMBO_KEYS_SYM_DOLLAR, BASE_L, DEFAULT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_SYM_ASTERISK
COMBO(sym_asterisk, &kp ASTRK, COMBO_KEYS_SYM_ASTERISK, BASE_L, DEFAULT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_SYM_PLUS
COMBO(sym_plus, &kp PLUS, COMBO_KEYS_SYM_PLUS, BASE_L, DEFAULT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_SYM_MINUS
COMBO(sym_minus, &kp MINUS, COMBO_KEYS_SYM_MINUS, BASE_L, DEFAULT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_SYM_HASH
COMBO(sym_hash, &kp HASH, COMBO_KEYS_SYM_HASH, BASE_L, DEFAULT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_SYM_GRAVE
COMBO(sym_grave, &kp GRAVE, COMBO_KEYS_SYM_GRAVE, BASE_L, DEFAULT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_SYM_LPAR
COMBO(sym_lpar, &kp LEFT_PARENTHESIS, COMBO_KEYS_SYM_LPAR, BASE_L, DEFAULT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_SYM_RPAR
COMBO(sym_rpar, &kp RIGHT_PARENTHESIS, COMBO_KEYS_SYM_RPAR, BASE_L, DEFAULT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_SYM_LBKT
COMBO(sym_lbkt, &kp LEFT_BRACKET, COMBO_KEYS_SYM_LBKT, BASE_L, DEFAULT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_SYM_RBKT
COMBO(sym_rbkt, &kp RIGHT_BRACKET, COMBO_KEYS_SYM_RBKT, BASE_L, DEFAULT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_SYM_EQUAL
COMBO(sym_equal, &kp EQUAL, COMBO_KEYS_SYM_EQUAL, BASE_L, DEFAULT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_SYM_EXCLAM
COMBO(sym_exclam, &kp EXCLAMATION, COMBO_KEYS_SYM_EXCLAM, BASE_L, DEFAULT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_SYM_QUESTION
COMBO(sym_question, &kp QUESTION, COMBO_KEYS_SYM_QUESTION, BASE_L, DEFAULT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_SYM_UNDER
COMBO(sym_under, &kp UNDERSCORE, COMBO_KEYS_SYM_UNDER, BASE_L, DEFAULT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_SYM_PAREN_PAIR
COMBO(sym_paren_pair, &sym_paren_pair, COMBO_KEYS_SYM_PAREN_PAIR, BASE_L, DEFAULT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_SYM_BRACKET_PAIR
COMBO(sym_bracket_pair, &sym_bracket_pair, COMBO_KEYS_SYM_BRACKET_PAIR, BASE_L, DEFAULT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_SYM_AT
COMBO(sym_at, &kp AT, COMBO_KEYS_SYM_AT, BASE_L, DEFAULT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_SYM_COLON
COMBO(sym_colon, &kp COLON, COMBO_KEYS_SYM_COLON, BASE_L, DEFAULT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_SYM_SEMI
COMBO(sym_semi, &kp SEMI, COMBO_KEYS_SYM_SEMI, BASE_L, DEFAULT_TIMEOUT)
#endif

// Same-hand editing combos.
#ifdef COMBO_KEYS_CUT
COMBO(cut, &kp LC(X), COMBO_KEYS_CUT, BASE_L, DEFAULT_LEFT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_COPY
COMBO(copy, &kp LC(C), COMBO_KEYS_COPY, BASE_L, DEFAULT_LEFT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_PASTE
COMBO(paste, &kp LC(V), COMBO_KEYS_PASTE, BASE_L, DEFAULT_LEFT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_SPACE
COMBO(space, &kp SPACE, COMBO_KEYS_SPACE, BASE_L, DEFAULT_LEFT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_PLAIN_PASTE
COMBO(plain_paste, &kp LC(LS(V)), COMBO_KEYS_PLAIN_PASTE, BASE_L, DEFAULT_LEFT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_ENTER
COMBO(enter, &kp ENTER, COMBO_KEYS_ENTER, BASE_L, DEFAULT_LEFT_TIMEOUT)
#endif

#ifdef COMBO_KEYS_ENTER_CTRL
COMBO(enter_ctrl, &kp LC(ENTER), COMBO_KEYS_ENTER_CTRL, BASE_L, DEFAULT_LEFT_TIMEOUT)
#endif